<launch>

  <!-- Force sensor Node launch -->
  <node pkg="robotiq_force_torque_sensor_custom" type="rq_sensor_custom" name="rq_sensor_custom" output="screen" />
  <node pkg="robotiq_force_torque_sensor_custom" type="rq_stream_sensor_custom" name="rq_stream_sensor_custom" output="screen" />
  
  
</launch>